.Section4 {
    position: relative;
    padding:30px 0px 145px 0;

    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        color: #202932;
        margin-bottom: 30px;
    }

    &__button {
        width: 285px;
        height: 50px;
        background: #3d2dda;
        border-radius: 5px;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        text-transform: uppercase;
        color: #ffffff;
        border: none;
        outline: none !important;
        display: inline-flex;
        align-items: center;
        justify-content: center;

        &:hover{
            color: #ffffff;
            background: #201a53;
            text-decoration: none;
        }
    }
}
