.Section1 {
    position: relative;
    padding: 150px 0 50px 0;

    &__bg1 {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        top: 0;
        left: 0;
    }
    &__label {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        color: #202932;
    }
    &__title {
        font-style: normal;
        font-weight: bold;
        font-size: 42px;
        line-height: 50px;
        color: #202932;
    }
    &__subTitle {
        font-style: normal;
        font-weight: normal;
        font-size: 18px;
        line-height: 26px;
        color: #202932;
        margin-bottom: 30px;
    }
    &__colRight {
        //border:1px solid red;
        img {
            width: 100%;
        }
    }
    &__test {
        font-size: 26px;
        font-weight: 500;
    }
    .button2 {
        margin-bottom: 30px;
    }
}

@media (min-width: 767.98px) {
   
}

@media (min-width: 1199.98px) {
    .Section1 {
        position: relative;
        padding: 225px 0 145px 0;
    }
}
